
body{
    background-color: black;
}
.mountain img{
    height: 80%;
    width: 100%;
    position:relative;
}

.canvas{
    background-color: white;
    border: solid deepskyblue 1px;

}
.Countdown{
    color: deepskyblue;
    border-bottom: deepskyblue solid 1px;
    margin-bottom: 0;
}
.count_down_bar{
    border: solid white 2px;
    background-color: red;
    width: 75%;
}
.countdown-text{
    margin-left: 40%;
}
.player-lives{
    padding-left: 1%;
    margin-left: 5%;
    color: white;
    font-size: 2rem;
    width: 15%;
    position: absolute;
    top: 10%;
}
.player-lives img{
    margin-left: 5%;
    height: 30%;
    width: 30%;
    padding-bottom: 9%;
}
/* add this class to each image to take a life away when they answer incorrectly*/
.lose-life{
    transition: ease 2s;
    visibility: hidden;
}
.topTimer{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    background-color: black;
    border: 1px deepskyblue solid;
    margin-bottom: 2%;
}

#myProgress {
    width: 100%;
    background-color: black;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: red;
}

.box-right{
    height: 15%;
    width: 15%;
    position: absolute;
    top:9.3%;
    right: 5%;
    border: 1px deepskyblue solid;
}
.box-left{
    height: 15%;
    width: 15%;
    position: absolute;
    top: 9.3%;
    left: 5%;
    border: 1px deepskyblue solid;
}
.box-center{
    height: 15%;
    width: 50%;
    position: absolute;
    top: 9.3%;
    left: 25%;
    border: 1px deepskyblue solid;
}
.box-left img {
    height: 30%;
    width: 30%;
    margin: 0;
    position: relative;
    top: 35%;
}
.box-left p {
    text-align: center;
    color: deepskyblue;
}
.box-right p {
    color: deepskyblue;
}
#player{
    text-align: center;
    color: white;
    text-decoration: underline deepskyblue;
}

#mario{
    height: 8%;
    width: 8%;
    position: absolute;
    top: 39%;
    left: 10%;
}
#yeti{
    height: 10%;
    width: 10%;
    position: absolute;
    top: 37%;
    left: -20%;
}
.fly{
    animation:fly 5s linear 60;
}
@keyframes fly{
    0%{
        transform:translate(0%,0%) scale(1);
    }
    25%{
        transform:translate(250%, 0%) scale(1);
    }
    50%{
        transform:translate(700%, 0%) scale(1);
    }
    75%{
        transform:translate(1000%, 0%) scale(1);
    }
    100% {
        transform: translate(1500%, 0%) scale(1);
    }
}