
body{
    background-color: black;
}
.mountain img{
    height: 80%;
    width: 100%;
    position:relative;
}

.canvas{
    background-color: white;
    border: solid deepskyblue 1px;

}
.Countdown{
    color: deepskyblue;
}
.count_down_bar{
    border: solid white 2px;
    background-color: red;
    width: 75%;
}
.countdown-text{
    margin-left: 40%;
}
.player-lives{
    padding-left: 1%;
    margin-left: 5%;
    color: white;
    font-size: 2rem;
    width: 15%;
    position: absolute;
    top: 10%;
}
.player-lives img{
    margin-left: 5%;
    height: 30%;
    width: 30%;
    padding-bottom: 9%;
}
.topTimer{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    background-color: black;
    border: 1px deepskyblue solid;
    margin-bottom: 2%;
}

#myProgress {
    width: 100%;
    background-color: black;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: red;
}

.box-right{
    height: 15%;
    width: 15%;
    position: absolute;
    top:9.3%;
    right: 5%;
    border: 1px deepskyblue solid;
}
.box-left{
    height: 15%;
    width: 15%;
    position: absolute;
    top: 9.3%;
    left: 5%;
    border: 1px deepskyblue solid;
}
.box-center{
    height: 15%;
    width: 50%;
    position: absolute;
    top: 9.3%;
    left: 25%;
    border: 1px deepskyblue solid;
}
.box-left img {
    height: 30%;
    width: 30%;
    margin: 0;
    position: relative;
    top: 35%;
}
.box-left p {
    text-align: center;
    color: deepskyblue;

}