body{
    width: 700px;
    height: 1000px;
    margin: 0;
}
.topTimer{
    width: 100%;
    height: 20%;
    font-size: 50px;
    color: white;
    background-color: red;
    margin: 0;
    position: relative;
}
.timerText{
    margin:0;
}
.bounce{
    animation:bounce 5s linear 80;
}
@keyframes bounce{
    0%{
        transform:translate(0px,0px);

    }
    25%{
        transform:translate(100px,100px);

    }
    50%{
        transform:translate(0px,100px);

    }
    75%{
        transform:translate(100px,-0px);

    }
    100% {
        transform: translate(0px, 0px);

    }
}